# For Posgress
DATABASE_URL = postgresql+psycopg://username:password@host.docker.internal:5432/application_db

# For mysql
# DATABASE_URL= mysql+mysqlconnector://username:password@host.docker.internal3306/test_db

# For MSSQL
# DATABASE_URL=mssql+pyodbc://username:password@host.docker.internal:1433/test_db?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes

JWT_SECRET_KEY=your-secret-key-here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7